*
{
    padding: 0%;
    margin: 0%;
}
body{
    background: linear-gradient(rgba(0,0,0,0.25),rgba(0,0,0,0.25)), url(images/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#jack{
    font-size: 500%;
    color: chocolate;
    text-align: center;
    font-family: sans-serif;
    margin: 2.5% 32%;
    background-color: azure;
    text-shadow: 5px 5px gold;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
#msg{
    color: darkblue;
    text-align: center;
    font-size: 300%;
    margin: 1% 15%;
    background-color: aquamarine;
}
button{
    font-size: 250%;
    color:darkmagenta;
    font-family: sans-serif;
    border-style: solid;
    border-color: white;
    border-width: 4px;
    border-radius: 50px;
    margin: 0% 42%;
    background: none;
    cursor: pointer;
    padding: 25px;
}
button:hover,button:active{
    text-decoration: none;
    background-color: darkmagenta;
    color: white;
}
#demo{
    font-size: 350%;
    color: orangered;
    text-align: center;
    font-family: sans-serif;
    margin: 3% 20%;
    background-color: azure;
    text-shadow: 2px 2px red;
}