body {
  background-color: white;
  margin: 0;
  font-family: sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h1{
    text-align: center;
    font-size: 600%;
    font-weight: bolder;
    font-family: sans-serif;
    color: white;
    background: steelblue;
    margin: 0%;
    padding: 3% 0%;
    animation: heading 5s infinite;
}
@keyframes heading
{
    0%{color: whitesmoke;}
    5%{color: forestgreen;}
    10%{color: black;}
    15%{color: fuchsia;}
    20%{color: whitesmoke;}
    25%{color: rebeccapurple;}
    30%{color: black;}
    35%{color: chartreuse;}
    40%{color: whitesmoke;}
    45%{color: blueviolet;}
    50%{color: black;}
    55%{color: cyan;}
    60%{color: whitesmoke;}
    65%{color: darkgoldenrod}
    70%{color: black;}
    75%{color: darkorange}
    80%{color: whitesmoke;}
    85%{color: darkred}
    90%{color: black;}
    95%{color: lime;}
}

#columns{
    column-count: 2;
}

#block1 {
  background: white;
  height: 100%;
  text-align: center;
  color: black;
}

#easy{
    color: darkgreen;
    border: none;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: 7.25%;
    margin-bottom: 0%;
	cursor: pointer;
	transition-duration: 0.4s;
}
#easy:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:white;
    background-color: lawngreen;
}

#med{
    color: darkblue;
    border: none;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: 7.25%;
    margin-bottom: 0%;
	cursor: pointer;
	transition-duration: 0.4s;
}
#med:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:white;
    background-color: darkcyan;
}

#hard{
    color: darkred;
    border: none;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: 7.25%;
    margin-bottom: 0%;
	cursor: pointer;
	transition-duration: 0.4s;
}
#hard:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    color:white;
    background-color: red;
}

.square{
    width: 5%;
    margin-top: 1%;
    margin-left: 10%;
    margin-bottom: 3%;
    border: solid;
    border-width: thick;
    border-color: black;
    background: white;
    padding-top: 8% ;
    padding-right:10% ;
    padding-bottom: 8% ;
    padding-left:6%; 
    float: left;
    border-radius: 15%;
    cursor: pointer;
    transition: background 0.6s;
}

#block2{
	margin: 5% 12%;
    height: 100%;
}



.mode{
	border: none;
	padding: 2% 5%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 200%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: 7.25%;
    margin-bottom: 0%;
	cursor: pointer;
	transition-duration: 0.4s;
}
.mode:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#easy{
    color:darkgreen;
}
#easy:hover{
    color:white;
    background-color: lawngreen;
}

#medium{
    color:darkblue;
}
#medium:hover{
    color:white;
    background-color: darkcyan;
}

#hard{
    color:darkred;
}
#hard:hover{
    color:white;
    background-color:red;
}

.onoff{
  display: inline-block;
  padding: 4% 6%;
  font-size: 300%;
  margin-top: 5%;
  margin-right: auto;
  margin-left: 4%;
  margin-bottom: 0%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: white;
  background-color: gold;
  border: none;
  border-radius: 15%;
  box-shadow: 0 9px #999;
}
.onoff:hover {background-color: goldenrod}
.onoff:active {
  background-color: darkgoldenrod;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.result{
    background-color: magenta;
    border:solid;
    border-width: thin;
    border-color: black;
    color: white;
    padding: 15% 10%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 300%;
    margin-top: 8%;
    margin-right: auto;
    margin-left: 6.25%;
    margin-bottom: 0%;
    cursor: default;
}



#box{
    text-align: center;
    font-size: 300%;
    width: 50%;
    height: 20%;
    float: left;
    border: solid;
    border-width: thick;
    border-color: black;
    background: white;
    padding-top: 10%;
    padding-right: 18%;
    padding-bottom: 10%;
    padding-left: 18%;
    margin-top: 2%;
    margin-left: 11%;
    margin-bottom: 5%;
    border-radius: 30%;
    cursor: default;
    transition: background 0.6s;
}